alembic==1.5.2
anyio==3.5.0
asgiref==3.5.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
databases[postgresql]==0.4.1 
fastapi==0.75.0
h11==0.13.0
html5lib==1.1
idna==3.3
psycopg2-binary==2.9.3
pydantic==1.9.0
pytest
python-dotenv==0.20.0
requests==2.27.1
six==1.16.0
slack_sdk==3.16.1
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.32
starlette==0.17.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
webencodings==0.5.1
